@import "tailwindcss";

@theme {
  --color-ds-background: #09090b;
  --color-ds-surface: #18181b;
  --color-ds-border: #27272a;
  --color-ds-primary: #22c55e;
  --color-ds-primaryHover: #16a34a;
  --color-ds-text: #fafafa;
  --color-ds-textMuted: #a1a1aa;
}

@layer base {
  body {
    @apply bg-ds-background text-ds-text font-sans antialiased selection:bg-ds-primary selection:text-white m-0 min-h-screen;
  }
}

/* Custom scrollbar for a sleek look */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  @apply bg-ds-border rounded-full;
}

::-webkit-scrollbar-thumb:hover {
  @apply bg-gray-500;
}
